@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --fonte: "Source Sans 3", serif;
    --cor-destaque-amarelo: #FCCD22;
    --cor-destaque-laranja: #F17228;
}

body {
    position: relative;
    min-height: 100vh;
}

.header {
    background-color: white;
}

.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: var(--fonte);
    font-weight: 400;
    padding-top: 1%;
}

.header__nav__endereço {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.header__nav__pesquisa_login {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.header__nav__pesquisa {
    border-radius: 15px;
    padding: 0.5%;
    width: 250px;
    text-align: center;
}

.header__nav__login {
    display: flex;
    text-decoration: none;
    color: white;
    background-color: var(--cor-destaque-laranja);
    border-radius: 15px;
    padding: 3%;
    font-weight: 600;
}

.header__nav__login__icon {
    padding-right: 10px;
    text-align: center;
}

.main__banner {
    display: flex;
    font-family: var(--fonte);
    background-color: var(--cor-destaque-amarelo);
    width: 100%;
    margin-top: 1%;
}

.main__banner__info {
    padding: 13%;
}

.main__banner__info__titulo {
    font-size: 5em;
    color: white;
    font-weight: 800;
}

.main__banner__info__texto {
    font-size: 1.6em;
    font-weight: 500;
}

.main__banner__img {
    flex-direction: column;
    justify-content: end;
    align-self: flex-end;
}

.main__banner__pesquisa {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    padding: 3% 3% 3% 4%;
    border-radius: 20px;
    gap: 20px;

}

.main__banner__pesquisa__2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main__banner__button {
    background-color: #FA6837;
    color: white;
    border-radius: 6px;
    font-family: var(--fonte);
    font-weight: 600;
    border: 0;
    width: 220px;
    height: 60px;
    font-size: 1.2em;
}

.main__banner__pesquisa__barra {
    width: 593px;
    height: 49px;
    border-radius: 6px;
    border: 0;
    background-color: #F5F5F5;
    background-image: url("https://raw.githubusercontent.com/evertonmissiagia/restaurant-website/5fec0b3ee155183470a6fc25bc7f67c64667c380/assets/img/img_icon_endere%C3%A7o.svg");
    background-repeat: no-repeat;
    background-position: 1em;
    font-size: 1em;
    font-family: var(--fonte);
    padding-left: 6%;
}

.main__banner__pesquisa__delivery {
    background-color: #FEF1EA;
    border-radius: 6px;
    font-family: var(--fonte);
    font-size: 1.2em;
    color: #FFAE01;
    font-weight: 600;
    border: 0;
    width: 148px;
    height: 38px;
}

.main__banner__pesquisa__retirada {
    background-color: transparent;
    border-radius: 6px;
    font-family: var(--fonte);
    font-size: 1.2em;
    color: #757575;
    font-weight: 600;
    border: 0;
    width: 148px;
    height: 38px;
}

.main__banner__pesquisa__delivery__icon, .main__banner__pesquisa__retirada__icon {
    padding-right: 10px;
    text-align: center;
}